/*Обнуление*/

* {padding: 0;margin: 0;border:0;}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input:focus::-webkit-input-placeholder {
       color: transparent !important;
    }
input:focus::-moz-placeholder {
       color: transparent !important;
    }
input:focus::-moz-placeholder {
    color: transparent !important;
}
input:focus:-ms-input-placeholder {
    color: transparent !important;
}
textarea:focus::-webkit-input-placeholder {
       color: transparent !important;
    }
textarea:focus::-moz-placeholder {
       color: transparent !important;
    }
textarea:focus::-moz-placeholder {
    color: transparent !important;
}
textarea:focus:-ms-input-placeholder {
    color: transparent !important;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.2;
    color: #333333;
    background-color: #eaeaea;
}

.calculator {
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #dddddd;
    margin: 20px auto;
    border-radius: 10px;
}

.title {
    color: #3c3e3e;
    font-size: 40px;
    padding: 10px;
}

input:focus {
    background-color: #f5f5f5;
    border: 1px solid #555;
}

.form-control {
    width: 98%;
    border-radius: 10px;
    padding: 10px;
    margin: 0 5px 5px 5px;
    font-size: 18px;
}

.btn {
    width: 98%;
    font-size: 20px;
    line-height: 2;
    font-weight: 400;
    margin: 5px;
    border-radius: 10px;
    transition-duration: .3s;
}

.btn:hover {
    background-color: #fff;
}

.btn:focus {
    background-color: #f5f5f5;
    border: 1px solid #555;
}

.text {
    text-align: center;
    margin: 10px;
}

.subtitle {
    font-size: 30px;
}

.resultat {
    font-size: 24px;
}


@media (max-width: 767px) {
    
    .calculator {
        max-width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin: 0 auto;
        border-radius: 10px;
    }
    
    .title {
        font-size: 32px;
        text-align: center;
    }
    
    .subtitle {
        font-size: 28px;
    }
}





























