@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*Обнуление*/

* {padding: 0;margin: 0;border:0;}

:focus,
:active {
    outline: none;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input:focus::-webkit-input-placeholder {
       color: transparent !important;
    }
input:focus::-moz-placeholder {
       color: transparent !important;
    }
input:focus::-moz-placeholder {
    color: transparent !important;
}
input:focus:-ms-input-placeholder {
    color: transparent !important;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 16px;
    line-height: 1.2;
    color: #333333;
}

.calculator {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f5f5f5;
    border: 1px solid #dae1e8;
    padding: 10px;
}

.title {
    color: #3c3e3e;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 1.25em;
    padding: 10px;
}

.calculator__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.calculator__item label {
    position: relative;
    margin-right: 15px;
}

.calculator__item span {
    position: absolute;
    top: 3px;
    right: -12px;
    color: red;
    font-weight: 700;
}

.form-control {
    font-size: 18px;
    font-weight: 700;
    padding: 4px;
    border: 1px solid #b9c0c5;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #3d9950;
}

.form-control:focus {
    border: 2px solid #090980;
}

input::-webkit-input-placeholder {
    font-weight: 400;
    opacity: .6;
}

input::-moz-placeholder {
    font-weight: 400;
    opacity: .6;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
    margin-top: 20px;
    background-color: #dae1e8;
    padding: 15px 10px;
    overflow: hidden;
}

.btn {
    background-color: #5bb3ee;
    color: #FFF;
    padding: 10px 15px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 10px;
    transition-duration: .3s;
}

.btn--clear {
    background-color: #dae1e8;
    color: #5f6569;
}

.btn:hover {
    background-color: #0062a3;
    color: #FFF;
}

.btn:focus {
    background-color: #0062a3;
    color: #fff;
    border: 1px solid #555;
}

.text {
    display: none;
    background-color: #ffdeae;
    margin: 0 -10px;
    padding: 15px;
    overflow: hidden;
}

.subtitle {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resultat {
    font-size: 20px;
    margin-bottom: 10px;
}

.result-sp {
    color: #1668e3;
    font-weight: 400;
}

.result-sp-fs {
    font-size: 34px;
}


@media (max-width: 457px) {
    .title {
        font-size: 20px;
        padding: 15px 10px;
    }
    
    .form-control {
        width: 100px;
    }
    
    .resultat {
        font-size: 18px;
    }

}




























